@inherits LayoutComponentBase
@inject AdminAuthHelper Auth
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (Auth.IsAuthenticated)
            {
                <a href="#" @onclick="Logout" class="text-decoration-none">Sair</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private void Logout()
    {
        Auth.Logout();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}