@inherits LayoutComponentBase

<div class="top-bar">
    <div class="logo">
        <img src="/images/logobranco.png" alt="SPL" class="logo-img">
        SIMPLE PARTY LIST
    </div>
    <a href="/sobre" class="admin-link">SOBRE</a>
</div>

<main class="page-wrapper">
    @Body
</main>
